<table class="table">
  <thead>
    <tr >
      <th>
        Test
      </th>
      <th>
        Test
      </th>
      <th>
        Test
      </th>
      <th>
        Test
      </th>
      <th>
        Test
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="table__row--selected">
      <td>
        Test 1
      </td>
    </tr>
    <tr>
      <td>
        Test 1
      </td>
    </tr>
    <tr>
      <td>
        Test 1
      </td>
    </tr>
    <tr>
      <td>
        Test 1
      </td>
    </tr>
  </tbody>
</table>
