<div class="toolbar">
  <forms-button [icon]='"add"' [label]='"Add"' (performAction)="onAdd($event)"></forms-button>
  <forms-button [icon]='"edit"' [label]='"Edit"' (performAction)="onEdit($event)"></forms-button>
  <forms-button [icon]='"remove"' [label]='"Remove"' (performAction)="onRemove($event)"></forms-button>
  <forms-button [icon]='"previous"' [label]='"Previous"' (performAction)="onPrevious($event)"></forms-button>
  <forms-button [icon]='"next"' [label]='"Next"' (performAction)="onNext($event)"></forms-button>
  <forms-button [icon]='"first"' [label]='"First"' (performAction)="onSelectFirst($event)"></forms-button>
  <forms-button [icon]='"last"' [label]='"Last"' (performAction)="onSelectLast($event)"></forms-button>
  <forms-button [icon]='"search"' [label]='"Search"' (performAction)="onSearch($event)"></forms-button>
</div>
