<div class="form-section">
  <form>
    <div class="form-section__input-container">
      <div>
        <label>{{label}}</label>
        <input [type]="type" />
      </div>
      <div>
        <label>{{label}}</label>
        <input [type]="type" />
      </div>
      <div>
        <label>{{label}}</label>
        <input [type]="type" />
      </div>
      <div>
        <label>{{label}}</label>
        <input [type]="type" />
      </div>
    </div>
    <div class="form-section__controls">
      <forms-button icon="commit" label="commit"></forms-button>
      <forms-button icon="cancel" label="Rollback"></forms-button>
    </div>
  </form>
</div>
